---
// Código Server Side Only - Momento de construcción "Build time"
import PokemonsCard from "../components/PokemonsCard.astro";
import type { PokemonListResponse } from "../interfaces/pokemon-list.response";
import MainLayouts from "../layouts/MainLayouts.astro";

const resp = await fetch('https://pokeapi.co/api/v2/pokemon');
const data = await resp.json() as PokemonListResponse;

const title = 'Pokemon Static | Home';
---

<MainLayouts title={title}>
	<h1 class="text-3xl "> Listado de Pokémons </h1>
	<hr/>
	
	<section
	aria-label="Listado Pokémons"
	class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-5 gap-3">

	{data.results.map(({name, url}) => (
	<PokemonsCard
		name = {name}
		url = {url}
	/>
	))}

	</section>

</MainLayouts>